<beans xmlns ="http://www.springframework.org/schema/beans" 
        xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:schemaLocation ="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
        
        <bean name="IocAction" class="test.struts2.action.IocAction">
        	<property name="iti">
        		<bean class="test.struts2.service.imp.IocTestImpl"></bean>
        	</property>
        </bean>
        
        <bean name="file" class="vaannila.FileUploadAction"></bean>
</beans>